/* Mobile devices 576px ) */
@media screen and (max-width: 576px) {


    /* Start Nav Section Style */
    .nav-continuer{
        flex-direction:column;
        padding: 10px 10px;
    }
    .nav-item-continuer a{
        flex-direction:column;
        margin: 15px;
    }

    .nav-item-continuer ul{
        flex-direction:column;
/* End Nav Section Style */

     }
/* Start Banner Section Style  */

.banner-continuer{
    flex-direction: column-reverse;
    padding: 10px 10px;

}

.banner-continuer-tilel{
    padding: 20px;
}


.banner-continuer-img img{
    width: 300px;
}

.banner-continuer h2{
    font-size: 1.5rem;
}
.banner-continuer h1{
    font-size: 3rem;
    ;
}
.banner-continuer p{
    font-size: 1rem;
}
.sign-in{
    font-size: 15px;
    padding: 10px 20px;
}
.go{
    padding: 10px 20px;
    font-size: 15px;
}

/* End Banner Section Style  */

/* Start gamer continuer Style */


.gamer-continuer{
    flex-direction: column;
    padding: 10px 10px;
}

.gamer-continuer-img img{
    width: 300px;
}

.gamer-continuer h3{ 
    font-size: 1.5rem;
    text-align: center;
}
.gamer-continuer p{ 
    font-size: 0.8rem;
    text-align: center;
}
.gamer-continuer h4{
    font-size: 1rem;
    text-align: center;

}

.more-btn-style{
    display: flex;
    justify-content: center;
}

.more-btn{
    font-size: 15px;
    padding: 10px 20px;
}

/* End gamer continuer Style */

.Online-Games-text h3{
    font-size: 1.3rem;
}

.Online-Games-text p{
    font-size: 0.6rem;
}
/* Start Online Games continuer Style */

.Online-Games-continuer{
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 10px;
    justify-items: center;

}


.Careers-continuer{
    padding: 10px 10px;
    flex-direction: column;
}

.Careers-image img{
    width: 300px;
}

/* End Online Games continuer Style */

.Play-Continuer {

    display: none;
}


.Play-game-Continuer {

    display: none;
}


/* Start All Game Continuer Style */



.all-game{
    padding: 20px 20px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

}
    .image-horch img {
        width: 250px;
        height: 350px;
    }

.Play-Instantly-Continuer-text{
    width: 250px;
    height: 100px;

 /* End All Game Continuer Style */   

}

/* Start footer section Style */
footer{
    padding: 10px 10px;
    color: #FFF;
    background-color: #0B0223;;
}


footer-item{
    flex-direction: column;

    padding: 10px;

}

.footer-item a{
    text-decoration: none;
    color: #FFF;
    margin-right: 10px;
}

.footer-icon{
    display: flex;
    justify-content: center;
}

.footer-icon p{
    color: #FFF;
    margin-right: 20px;
    font-size: 30px;
}

.footer-Privacy-Policy{
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.footer-Privacy-Policy a{
    text-decoration: none;
    margin-right: 1rem;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

.footer-copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer-copyright p{
    margin-right: 0.5rem;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}



}


     /* devices Tab 768px ) */
@media screen and (min-width: 576px) and (max-width: 768px){


    /* Start Nav Section Style */
    .nav-continuer {
        padding: 30px 50px;
    }
    /* Start Nav Section Style */

    /* Start Banner Section Style  */

    .banner-continuer-img img{
        width: 300px;
    }
    
    .banner-continuer h2{
        font-size: 1.5rem;
    }
    .banner-continuer h1{
        font-size: 3rem;
        ;
    }
    .banner-continuer p{
        font-size: 1rem;
    }
    .sign-in{
        font-size: 15px;
        padding: 10px 20px;
    }
    .go{
        padding: 10px 20px;
        font-size: 15px;
    }
    /* End Banner Section Style  */


 /* Start gamer continuer Style */
 .gamer-continuer{
    flex-direction: column;
    padding: 20px 20px;
}


.gamer-continuer-img img{
    width: 400px;
}

.gamer-continuer h3{ 
    font-size: 1.5rem;
    text-align: center;
}
.gamer-continuer p{ 
    font-size: 0.8rem;
    text-align: center;

}
.gamer-continuer h4{
    font-size: 1rem;
    text-align: center;
}

.more-btn{
    font-size: 15px;
    padding: 10px 20px;
}
.more-btn-style{
    display: flex;
    justify-content: center;
}

/* End gamer continuer Style */   


/* Start Online Games continuer Style */

.Online-Games-continuer{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

}

/* End Online Games continuer Style */


/* Start All Game Continuer Style */

.all-game{

    grid-template-columns: repeat(3, 1fr);

 /* End All Game Continuer Style */  

}
}