
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,800&family=Work+Sans:wght@300;400;600;700;800&display=swap');



body{
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #F948B2;
    --primary-text-color: #3C354F;
    --primary-linear-gradient-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

/* Start Nav Section Style */

.nav-continuer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.G-titel{  
    color: var(--primary-color); 
}
.nav-logo-continuer{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-logo-continuer img{
    margin-right: 10px;
    width: 50px;
    height: 25px;
}


.nav-item-continuer ul{
    display: flex;
    list-style: none;
}

.nav-item-continuer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 600;
}
.nav-item-continuer .follow{
    display: flex;
    width: 230px;
    height: 50px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    justify-content: space-around;
}

.nav-sosal-icon{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
}

/* End Nav Section Style */

/* Start Banner Section Style  */
    
.banner-continuer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    background-image: url("/images/Group\ 14.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.gamer-continuer-titel{
    text-align: right;
}

.banner-continuer-img img{
    width: 500px;
}

.banner-continuer h2{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;

}

.banner-continuer h1{
    font-size: 5rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

}

.banner-continuer p{
    color: var(--primary-text-color);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.sign-in{
    background-color: var(--primary-color);
    border: 0;
    border-radius: 48px;
    padding: 18px 35px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 20px 20px 0px;
}

.go{
    padding: 18px 35px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    border: 0;
    background: #4EC5F7;
}

/* End Banner Section Style */

/* Start gamer continuer Style */

.gamer-continuer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.gamer-continuer-img img{
    width: 500px;
}
.gamer-continuer h3{ 
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.gamer-continuer p{ 
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 400;
}


.gamer-continuer h4{
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: 600;
}


.more-btn{
    background-color: var(--primary-color);
    border: 0;
    border-radius: 48px;
    padding: 18px 35px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px 20px 0px;

}
/* End gamer continuer Style */



/* Start Online Games continuer Style */

.Funny-Videos-text{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

}


.Online-Games-text h3{
    text-align: center;
    color: var(--primary-text-color);
    margin: 50px 0px 10px 0px;
    font-size: 2rem;
    font-weight: 700;
}

.Online-Games-text p{
    text-align: center;
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}


.Online-Games-continuer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 120px;
    row-gap: 20px;
}
.Online-Games-box{
    width: 240px;
    height: 350px;
}

.Online-Games-box img{
    width: 240px;
    height: 300px;
}
.Online-Games-box p{
    color: var(--primary-text-color);
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
}


/* #play:hover.Online-Games-box{
    background-image: url("/images/Rectangle\ 7.png");
    width: 240px;
    height: 350px;
} */


/* End Online Games continuer Style */

/* Start Play Instantly Continuer style */

.Play-Continuer {
    padding: 0px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Play-Instantly-color{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.Play-Instantly-Continuer-text{
    text-align: right;
    width: 350px;
    height: 200px;
    align-items: center;

}

.Play-Instantly-Continuer-text h2{
    font-size: 2rem;
    font-weight: 700;

}
.Play-Instantly-Continuer-text p{
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;

}

.image-horch img{
    width: 500px;
}

.baby-image{
    width: 200px;
    position: relative;
    bottom: 100px;
    right: 80px;
}


/* End Play Instantly Continuer style */

/* Start Play Games Online section style */

.Play-game-Continuer {
    padding: 0px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.Play-game-Instantly-color{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.Play-game-Instantly-Continuer-text{
    text-align: right;
    width: 350px;
    height: 200px;
    align-items: center;

}

.Play-game-Instantly-Continuer-text h2{
    font-size: 2rem;
    font-weight: 700;

}
.Play-game-Instantly-Continuer-text p{
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;

}

.image-horch img{
    width: 500px;
}

.baby-image{
    width: 200px;
    position: relative;
    bottom: 100px;
    left: 400px;
}


/* End Play Games Online section style */


/* Start All Game Continuer Style */

.all-game{
    padding: 30px 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;

}

.games{
    display: flex;
    align-items: center;
    width: 150px;
    height: 20px;
    border-radius: 50px;
    background: #FFF;
    padding: 20px 20px 20px 10px;
}
.games img{
    width: 45px;
}  
.games p{
    margin-left: 10px;
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}

.games:hover{
    border: 2px solid var(--primary-color);
    padding: 18px 18px 18px 8px;
    cursor: pointer;
}


/* End All Game Continuer Style */


/* Start footer section Style */
footer{
    padding: 50px 120px;
    color: #FFF;
    background-color: #0B0223;;
}


.footer-logo-continuer{
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    align-items: center;
}

.footer-continuer{
        display: flex;
        justify-content: center;

    }
.footer-logo-continuer img{
    margin-right: 10px;
    width: 60px;
    height: 30px;
}

.footer-item{
    text-align: center;
    padding: 40px;
}

.footer-item a{
    text-decoration: none;
    color: #FFF;
    margin-right: 40px;
}

.footer-icon{
    display: flex;
    justify-content: center;
}

.footer-icon p{
    color: #FFF;
    margin-right: 50px;
    font-size: 30px;
}

.footer-Privacy-Policy{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer-Privacy-Policy a{
    text-decoration: none;
    margin-right: 1rem;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

.footer-copyright{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer-copyright p{
    margin-right: 1rem;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}
/* End footer section Style */

